<!DOCTYPE html>
<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif;}
            .header { background-color: #3498db; padding: 20px; color: white; }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>!Welcome, <%=name %>!</h1>
        </div>
        <p>Thank you registering on our platform</p>
    </body>
</html>